{{log 'import-dialog' this}}
<form action="">
    <h1>Import Pathbuilder2e Character</h1>
    <p>
        Importing your character from Pathbuilder2e requires the character to be exported first.
    </p>
    <p>Use the unique export code that is generated.</p>
    <label for="pb2e-export-id">Pathbuilder2e Export Code:</label>
    <input type="string" name="exportCode" title="Export Code" data-dtype="string" />
    <button type="submit" title="Import" data-action="submit" class="">
        Import
    </button>
</form>